openapi: 3.0.3
info:
  title: PKD Management Service API
  description: |
    ICAO Local PKD Management Service API.
    Handles certificate upload, validation, search, authentication, and LDAP synchronization.

    ## Changelog
    - **v2.25.5** (2026-03-01): Code Master 6 endpoints, Link Certificate 3 endpoints, Upload parse/retry, Validation reasons, Internal auth check 추가
    - **v2.21.0** (2026-02-24): API Client management — API Key 기반 외부 클라이언트 인증 (7 endpoints), X-API-Key 헤더 인증, Rate Limiting, Permission/IP/Endpoint 접근 제어
    - **v2.17.0** (2026-02-20): Doc 9303 compliance checklist — per-certificate conformance check API + preview integration
    - **v2.15.1** (2026-02-19): CRL binary download endpoint, Trust Chain demo page support
    - **v2.15.0** (2026-02-18): CRL report + detail endpoints (report, detail, download)
    - **v2.10.4** (2026-02-15): DSC_NC non-conformant certificate report
    - **v2.10.2** (2026-02-14): Lightweight PA lookup API (POST /api/certificates/pa-lookup) for DSC subject DN or fingerprint-based trust chain query
    - **v2.9.2** (2026-02-13): Full certificate export (DIT-structured ZIP with all LDAP-stored certs, CRLs, MLs)
    - **v2.9.1** (2026-02-13): Certificate source filter, bySource statistics, DB-based search
    - **v2.7.0** (2026-02-12): Individual certificate upload with preview-before-save
    - **v2.5.0** (2026-02-06): Oracle + PostgreSQL multi-DBMS support
    - **v1.9.0** (2026-01-30): JWT authentication + RBAC
    - **v1.7.0** (2026-01-20): ICAO Auto Sync - Version comparison API
    - **v1.6.0** (2026-01-15): Certificate search/export, countries list API
    - **v1.5.10** (2026-01-13): AUTO mode progress display with X/Total format
    - **v1.4.8** (2026-01-11): Failed upload cleanup feature
  version: 2.25.5
  contact:
    name: SmartCore Inc.
    email: support@smartcoreinc.com

servers:
  - url: https://pkd.smartcoreinc.com
    description: Production (HTTPS via API Gateway)
  - url: http://localhost:8080
    description: API Gateway (HTTP)
  - url: http://localhost:8081
    description: Development server (direct)

tags:
  - name: Health
    description: Health check endpoints
  - name: Upload
    description: Certificate upload operations (LDIF, Master List, Individual)
  - name: Certificates
    description: Certificate search and export operations
  - name: Auth
    description: Authentication and user management
  - name: Audit
    description: Operation audit logging
  - name: ICAO
    description: ICAO PKD version monitoring and comparison
  - name: ApiClient
    description: API Client management — external client API key authentication (admin only)
  - name: CodeMaster
    description: Centralized code/status/enum management (21 categories, ~150 codes)
  - name: LinkCertificate
    description: Link Certificate validation and search (CSCA key rollover)
  - name: Progress
    description: Upload progress tracking (SSE)

paths:
  # ============================================
  # Health Endpoints
  # ============================================
  /api/health:
    get:
      tags: [Health]
      summary: Application health check
      operationId: getHealth
      responses:
        '200':
          description: Service is healthy
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /api/health/database:
    get:
      tags: [Health]
      summary: Database health check
      operationId: getDatabaseHealth
      responses:
        '200':
          description: Database connection status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DatabaseHealthResponse'

  /api/health/ldap:
    get:
      tags: [Health]
      summary: LDAP health check
      operationId: getLdapHealth
      responses:
        '200':
          description: LDAP connection status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LdapHealthResponse'

  # ============================================
  # Upload Endpoints
  # ============================================
  /api/upload/ldif:
    post:
      tags: [Upload]
      summary: Upload LDIF file
      description: |
        Upload and process an LDIF file containing certificates.
        Supports AUTO (1-step) and MANUAL (3-step) processing modes.
        Duplicate detection via SHA-256 file hash.
      operationId: uploadLdif
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                processing_mode:
                  type: string
                  enum: [AUTO, MANUAL]
                  default: AUTO
              required: [file]
      responses:
        '200':
          description: Upload successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResponse'
        '409':
          description: Duplicate file detected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DuplicateFileResponse'

  /api/upload/masterlist:
    post:
      tags: [Upload]
      summary: Upload Master List file
      description: Upload and process an ICAO Master List file (CMS signed). Contains CSCA certificates.
      operationId: uploadMasterList
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                processing_mode:
                  type: string
                  enum: [AUTO, MANUAL]
                  default: AUTO
              required: [file]
      responses:
        '200':
          description: Upload successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResponse'
        '409':
          description: Duplicate file detected

  /api/upload/certificate:
    post:
      tags: [Upload]
      summary: Upload individual certificate
      description: |
        Upload a single certificate file (PEM, DER, CER, P7B, DL, CRL).
        Saves to database and LDAP. Use `/api/upload/certificate/preview` first to preview.
      operationId: uploadCertificate
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
              required: [file]
      responses:
        '200':
          description: Upload successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResponse'

  /api/upload/certificate/preview:
    post:
      tags: [Upload]
      summary: Preview certificate (parse only)
      description: |
        Parse and preview a certificate file without saving.
        Returns certificate details, metadata, and validation info.
        Supports PEM, DER, CER, P7B, DL (Deviation List), CRL formats.
      operationId: previewCertificate
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
              required: [file]
      responses:
        '200':
          description: Certificate preview
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  certificates:
                    type: array
                    items:
                      $ref: '#/components/schemas/CertificatePreview'

  /api/upload/statistics:
    get:
      tags: [Upload]
      summary: Get upload statistics
      description: |
        Returns certificate counts by type, validation status, and source.
        Includes `bySource` field with certificate counts per source_type.
      operationId: getUploadStatistics
      responses:
        '200':
          description: Upload statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadStatisticsResponse'

  /api/upload/history:
    get:
      tags: [Upload]
      summary: Get upload history
      operationId: getUploadHistory
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Upload history list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadHistoryResponse'

  /api/upload/detail/{uploadId}:
    get:
      tags: [Upload]
      summary: Get upload detail
      operationId: getUploadDetail
      parameters:
        - name: uploadId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Upload detail
        '404':
          description: Upload not found

  /api/upload/{uploadId}:
    delete:
      tags: [Upload]
      summary: Delete failed upload
      description: Only FAILED or PENDING uploads can be deleted. Cleans up certificates, CRLs, and temp files.
      operationId: deleteUpload
      security:
        - bearerAuth: []
      parameters:
        - name: uploadId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Upload deleted
        '400':
          description: Cannot delete (not FAILED/PENDING)
        '404':
          description: Upload not found

  /api/upload/{uploadId}/validations:
    get:
      tags: [Upload]
      summary: Get trust chain validation results
      operationId: getUploadValidations
      parameters:
        - name: uploadId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Validation results

  /api/upload/{uploadId}/validation-statistics:
    get:
      tags: [Upload]
      summary: Get validation statistics for upload
      operationId: getUploadValidationStatistics
      parameters:
        - name: uploadId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Validation statistics

  /api/upload/{uploadId}/issues:
    get:
      tags: [Upload]
      summary: Get duplicate certificates detected
      operationId: getUploadIssues
      parameters:
        - name: uploadId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Issue list

  /api/upload/{uploadId}/ldif-structure:
    get:
      tags: [Upload]
      summary: Get LDIF/ASN.1 structure
      description: Returns the parsed structure of an LDIF file as a tree.
      operationId: getLdifStructure
      parameters:
        - name: uploadId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: LDIF structure tree

  /api/upload/{uploadId}/masterlist-structure:
    get:
      tags: [Upload]
      summary: Get Master List structure
      description: Returns parsed ASN.1 structure of a Master List file.
      operationId: getMasterListStructure
      parameters:
        - name: uploadId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Master List structure tree

  /api/upload/{uploadId}/parse:
    post:
      tags: [Upload]
      summary: Re-parse uploaded file
      description: Trigger re-parsing of an uploaded file. Useful for re-processing after configuration changes.
      operationId: parseUpload
      security:
        - bearerAuth: []
      parameters:
        - name: uploadId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Parse initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  uploadId:
                    type: string
                    format: uuid
                  status:
                    type: string
                    enum: [PENDING, PROCESSING, COMPLETED, FAILED]
                  totalCertificates:
                    type: integer
                  processedCount:
                    type: integer
                  stage:
                    type: string
                    enum: [PARSING, VALIDATING, SAVING, LDAP_UPLOAD, COMPLETE]
        '404':
          description: Upload not found

  /api/upload/{uploadId}/retry:
    post:
      tags: [Upload]
      summary: Retry failed upload
      description: |
        Retry a previously failed upload. Cleans up partial data (certificates, CRLs,
        validation results, duplicates) and re-triggers processing.
        Only applicable to uploads with FAILED status.
      operationId: retryUpload
      security:
        - bearerAuth: []
      parameters:
        - name: uploadId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Retry initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  uploadId:
                    type: string
                    format: uuid
                  newStatus:
                    type: string
                  cleanedUp:
                    type: object
                    properties:
                      certCount:
                        type: integer
                      crlCount:
                        type: integer
                      validationCount:
                        type: integer
                      duplicateCount:
                        type: integer
        '400':
          description: Upload is not in FAILED state
        '404':
          description: Upload not found

  /api/upload/statistics/validation-reasons:
    get:
      tags: [Upload]
      summary: Get validation reason breakdown by status
      description: |
        Returns a breakdown of validation reasons grouped by validation status
        (VALID, EXPIRED_VALID, INVALID, PENDING). Useful for understanding why
        certificates passed or failed trust chain validation.
      operationId: getValidationReasons
      responses:
        '200':
          description: Validation reason breakdown
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  validationReasons:
                    type: object
                    description: Reasons grouped by validation status
                    additionalProperties:
                      type: object
                      description: Reason string → count mapping
                      additionalProperties:
                        type: integer
                    example:
                      VALID:
                        "Trust chain verified": 15004
                      INVALID:
                        "Trust chain signature verification failed": 1
                      PENDING:
                        "CSCA not found": 14834

  /api/upload/countries:
    get:
      tags: [Upload]
      summary: Get country statistics (dashboard)
      operationId: getCountryStatistics
      responses:
        '200':
          description: Country statistics

  /api/upload/countries/detailed:
    get:
      tags: [Upload]
      summary: Get detailed country breakdown
      operationId: getDetailedCountryStatistics
      responses:
        '200':
          description: Detailed country breakdown with certificate types

  /api/upload/changes:
    get:
      tags: [Upload]
      summary: Get recent upload changes
      operationId: getUploadChanges
      responses:
        '200':
          description: Recent changes

  # ============================================
  # Certificate Search & Export
  # ============================================
  /api/certificates/search:
    get:
      tags: [Certificates]
      summary: Search certificates
      description: |
        Search certificates by country, type, status, and source.
        When `source` is specified, uses DB-based search.
        When `source` is not specified, uses LDAP-based search.
      operationId: searchCertificates
      parameters:
        - name: country
          in: query
          schema:
            type: string
            minLength: 2
            maxLength: 2
          description: ISO 3166-1 alpha-2 country code
        - name: certType
          in: query
          schema:
            type: string
            enum: [CSCA, DSC, DSC_NC, CRL, ML, ALL]
            default: ALL
        - name: source
          in: query
          schema:
            type: string
            enum: [LDIF_PARSED, ML_PARSED, FILE_UPLOAD, PA_EXTRACTED, DL_PARSED]
          description: Certificate source type filter (triggers DB search)
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateSearchResponse'

  /api/certificates/countries:
    get:
      tags: [Certificates]
      summary: Get country list
      operationId: getCountries
      responses:
        '200':
          description: List of country codes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountriesResponse'

  /api/certificates/detail:
    get:
      tags: [Certificates]
      summary: Get certificate details
      operationId: getCertificateDetail
      parameters:
        - name: dn
          in: query
          required: true
          schema:
            type: string
          description: Distinguished Name
      responses:
        '200':
          description: Certificate details
        '404':
          description: Not found

  /api/certificates/validation:
    get:
      tags: [Certificates]
      summary: Get validation result by fingerprint
      operationId: getCertificateValidation
      parameters:
        - name: fingerprint
          in: query
          required: true
          schema:
            type: string
          description: SHA-256 fingerprint
      responses:
        '200':
          description: Validation result

  /api/certificates/pa-lookup:
    post:
      tags: [Certificates]
      summary: Lightweight PA lookup by subject DN or fingerprint
      description: |
        Query pre-computed trust chain validation results from the database
        without requiring SOD/DG file uploads.

        Accepts either `subjectDn` or `fingerprint` to look up the most recent
        validation result for a DSC certificate. This provides a fast alternative
        to full PA verification when the DSC has already been validated via file upload.

        **Use cases**:
        - Quick trust chain status check for a known DSC
        - Pre-validation screening before full PA verification
        - Client applications that only have DSC subject DN from passport chip

        **Note**: This endpoint queries PKD Management's `validation_result` table.
        It does NOT perform real-time certificate validation. Results reflect the
        most recent upload-time validation.
      operationId: paLookup
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                subjectDn:
                  type: string
                  description: DSC certificate Subject DN (e.g., "/C=KR/O=Government of Korea/CN=Document Signer 1234")
                fingerprint:
                  type: string
                  description: DSC certificate SHA-256 fingerprint (hex, 64 chars)
              example:
                subjectDn: "/C=KR/O=Government of Korea/CN=Document Signer 1234"
      responses:
        '200':
          description: Validation result found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PALookupResponse'
        '400':
          description: Missing required parameter
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: "Either subjectDn or fingerprint parameter is required"
        '500':
          description: Internal server error

  /api/certificates/export/file:
    get:
      tags: [Certificates]
      summary: Export single certificate (DER/PEM)
      operationId: exportCertificateFile
      parameters:
        - name: dn
          in: query
          required: true
          schema:
            type: string
        - name: format
          in: query
          schema:
            type: string
            enum: [DER, PEM]
            default: DER
      responses:
        '200':
          description: Certificate file
          content:
            application/x-x509-ca-cert:
              schema:
                type: string
                format: binary

  /api/certificates/export/country:
    get:
      tags: [Certificates]
      summary: Export country certificates as ZIP
      operationId: exportCountryCertificates
      parameters:
        - name: country
          in: query
          required: true
          schema:
            type: string
        - name: certType
          in: query
          schema:
            type: string
            enum: [CSCA, DSC, DSC_NC, CRL, ML, ALL]
            default: ALL
        - name: format
          in: query
          schema:
            type: string
            enum: [DER, PEM]
            default: DER
      responses:
        '200':
          description: ZIP archive
          content:
            application/zip:
              schema:
                type: string
                format: binary

  /api/certificates/export/all:
    get:
      tags: [Certificates]
      summary: Export all LDAP-stored data as DIT-structured ZIP
      description: |
        Export all certificates, CRLs, and Master Lists stored in LDAP as a ZIP archive
        with LDAP DIT (Directory Information Tree) folder structure.

        **ZIP structure**:
        ```
        data/{country}/{csca|dsc|mlsc|crl|ml}/  - Standard certificates
        nc-data/{country}/dsc/                   - Non-conformant DSC
        ```

        **Data sources** (DB-based, `stored_in_ldap=TRUE`):
        - Certificates: CSCA, DSC, MLSC, DSC_NC (~31K files)
        - CRLs (~69 files)
        - Master Lists (~27 files, always original CMS binary as .cms)

        **File naming**: `{CN_sanitized}_{fingerprint8}.{ext}`
        - Certificates: `.pem` or `.der` (user selection)
        - CRLs: `.pem` or `.crl` (DER)
        - Master Lists: `.cms` (always original CMS SignedData binary)

        **Performance**: Uses DB bulk query instead of individual LDAP lookups.
        Typical response: 45-50MB ZIP, ~31K files, 5-30 seconds.
      operationId: exportAllCertificates
      parameters:
        - name: format
          in: query
          schema:
            type: string
            enum: [PEM, DER]
            default: PEM
          description: Certificate format (PEM or DER). Master Lists are always original binary.
      responses:
        '200':
          description: ZIP archive with DIT folder structure
          headers:
            Content-Disposition:
              schema:
                type: string
              description: "attachment; filename=ICAO-PKD-Export-{YYYYMMDD-HHmmss}.zip"
          content:
            application/zip:
              schema:
                type: string
                format: binary
        '500':
          description: Export failed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: false
                  error:
                    type: string

  /api/certificates/dsc-nc/report:
    get:
      tags: [Certificates]
      summary: DSC_NC non-conformant certificate report
      description: |
        Returns aggregated analysis of DSC_NC (non-conformant) certificates from LDAP `dc=nc-data`.
        Includes summary statistics, conformance code distribution, country breakdown,
        year distribution, algorithm analysis, and paginated certificate list.
        Batch-fetches from LDAP (200 per batch) to handle large datasets.
      operationId: getDscNcReport
      parameters:
        - name: country
          in: query
          schema:
            type: string
          description: Filter by country code (e.g., DE, FR)
        - name: conformanceCode
          in: query
          schema:
            type: string
          description: Filter by conformance code prefix (e.g., ERR:CSCA)
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: size
          in: query
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: DSC_NC report data
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  summary:
                    type: object
                    properties:
                      totalDscNc:
                        type: integer
                      countryCount:
                        type: integer
                      conformanceCodeCount:
                        type: integer
                      validityBreakdown:
                        type: object
                        properties:
                          VALID:
                            type: integer
                          EXPIRED:
                            type: integer
                          NOT_YET_VALID:
                            type: integer
                          UNKNOWN:
                            type: integer
                  conformanceCodes:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        description:
                          type: string
                        count:
                          type: integer
                  byCountry:
                    type: array
                    items:
                      type: object
                      properties:
                        countryCode:
                          type: string
                        count:
                          type: integer
                        validCount:
                          type: integer
                        expiredCount:
                          type: integer
                  byYear:
                    type: array
                    items:
                      type: object
                      properties:
                        year:
                          type: integer
                        count:
                          type: integer
                  bySignatureAlgorithm:
                    type: array
                    items:
                      type: object
                      properties:
                        algorithm:
                          type: string
                        count:
                          type: integer
                  byPublicKeyAlgorithm:
                    type: array
                    items:
                      type: object
                      properties:
                        algorithm:
                          type: string
                        count:
                          type: integer
                  certificates:
                    type: object
                    properties:
                      total:
                        type: integer
                      page:
                        type: integer
                      size:
                        type: integer
                      items:
                        type: array
                        items:
                          $ref: '#/components/schemas/DscNcCertificate'

  /api/certificates/doc9303-checklist:
    get:
      tags: [Certificates]
      summary: Doc 9303 compliance checklist for a certificate
      description: |
        Run ICAO Doc 9303 conformance checks (~28 items) against a certificate
        identified by its SHA-256 fingerprint. Checks are certificate-type-aware
        (CSCA, DSC, MLSC) and cover version, serial number, signature algorithm,
        issuer/subject fields, key usage, basic constraints, extensions, and key size.

        The certificate binary is retrieved from LDAP (not DB BLOB) to avoid
        Oracle OCI LOB session state issues.

        **Categories**: 기본, 서명, 발급자, 주체, 고유식별자, Key Usage, 기본 제약, 확장 키 용도, 확장, 키 크기
      operationId: getDoc9303Checklist
      parameters:
        - name: fingerprint
          in: query
          required: true
          schema:
            type: string
            minLength: 64
            maxLength: 64
          description: SHA-256 fingerprint (hex, 64 chars)
      responses:
        '200':
          description: Doc 9303 checklist result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Doc9303ChecklistResponse'
        '400':
          description: Missing fingerprint parameter
        '404':
          description: Certificate not found
        '500':
          description: Failed to parse certificate or run checklist

  /api/certificates/crl/report:
    get:
      tags: [Certificates]
      summary: CRL report with statistics and paginated list
      description: |
        Returns aggregated CRL analysis including summary statistics,
        country distribution, signature algorithm breakdown, revocation reasons,
        and a paginated CRL list with metadata parsed from binary at runtime.
      operationId: getCrlReport
      parameters:
        - name: country
          in: query
          schema:
            type: string
          description: Filter by country code
        - name: status
          in: query
          schema:
            type: string
            enum: [VALID, EXPIRED]
          description: Filter by CRL validity status
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: size
          in: query
          schema:
            type: integer
            default: 50
      responses:
        '200':
          description: CRL report data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrlReportResponse'

  /api/certificates/crl/{id}:
    get:
      tags: [Certificates]
      summary: CRL detail with revoked certificate list
      description: |
        Returns CRL metadata and full list of revoked certificates
        parsed from binary CRL data. Includes serial number, revocation date,
        and RFC 5280 revocation reason for each entry.
      operationId: getCrlDetail
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: CRL detail with revoked certificates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrlDetailResponse'
        '404':
          description: CRL not found

  /api/certificates/crl/{id}/download:
    get:
      tags: [Certificates]
      summary: Download CRL binary file (.crl)
      description: |
        Downloads the raw CRL binary in DER format.
        Content-Type: application/pkix-crl.
        The hex-encoded CRL stored in the database is converted to binary on the fly.
      operationId: downloadCrl
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: CRL binary file
          headers:
            Content-Disposition:
              schema:
                type: string
              description: 'attachment; filename="crl_{country}_{id}.crl"'
          content:
            application/pkix-crl:
              schema:
                type: string
                format: binary
        '404':
          description: CRL not found or binary data unavailable

  # ============================================
  # Link Certificate (v2.15.1)
  # ============================================
  /api/validate/link-cert:
    post:
      tags: [LinkCertificate]
      summary: Validate Link Certificate trust chain
      description: |
        Validate a Link Certificate against both old and new CSCA certificates.
        Link Certificates bridge CSCA key rollovers per ICAO 9303.
        Accepts base64-encoded DER certificate binary.
      operationId: validateLinkCert
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                certificateBinary:
                  type: string
                  description: Base64-encoded DER certificate binary
              required: [certificateBinary]
      responses:
        '200':
          description: Validation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkCertValidationResponse'
        '400':
          description: Missing certificateBinary field

  /api/link-certs/search:
    get:
      tags: [LinkCertificate]
      summary: Search Link Certificates
      description: Search stored Link Certificates with optional country and validity filters.
      operationId: searchLinkCerts
      parameters:
        - name: country
          in: query
          schema:
            type: string
          description: Filter by country code (e.g., KR, DE)
        - name: validOnly
          in: query
          schema:
            type: boolean
            default: false
          description: Filter only valid certificates
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            minimum: 1
            maximum: 1000
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Link certificate search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkCertSearchResponse'

  /api/link-certs/{id}:
    get:
      tags: [LinkCertificate]
      summary: Get Link Certificate detail
      operationId: getLinkCertDetail
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Link certificate detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LinkCertDetailResponse'
        '404':
          description: Link certificate not found

  # ============================================
  # Code Master (v2.16.0)
  # ============================================
  /api/code-master:
    get:
      tags: [CodeMaster]
      summary: List codes (category filter, pagination)
      description: |
        Query centralized code/status/enum values. 21 categories with ~150 codes.
        Categories include: VALIDATION_STATUS, CRL_STATUS, CRL_REVOCATION_REASON,
        CERTIFICATE_TYPE, UPLOAD_STATUS, PROCESSING_STAGE, OPERATION_TYPE, PA_ERROR_CODE, etc.
      operationId: listCodeMaster
      parameters:
        - name: category
          in: query
          schema:
            type: string
          description: Filter by category (e.g., VALIDATION_STATUS, CERTIFICATE_TYPE)
        - name: activeOnly
          in: query
          schema:
            type: boolean
            default: true
          description: Filter active codes only
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: size
          in: query
          schema:
            type: integer
            default: 200
            maximum: 1000
      responses:
        '200':
          description: Code list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodeMasterListResponse'
    post:
      tags: [CodeMaster]
      summary: Create code (admin only)
      operationId: createCodeMaster
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CodeMasterCreateRequest'
      responses:
        '200':
          description: Code created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '400':
          description: Missing required fields (category, code, nameKo)
        '409':
          description: Duplicate code/category combination

  /api/code-master/categories:
    get:
      tags: [CodeMaster]
      summary: List distinct categories
      operationId: listCodeMasterCategories
      responses:
        '200':
          description: Category list
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  count:
                    type: integer
                  categories:
                    type: array
                    items:
                      type: string
                    example: ["VALIDATION_STATUS", "CERTIFICATE_TYPE", "UPLOAD_STATUS"]

  /api/code-master/{id}:
    get:
      tags: [CodeMaster]
      summary: Get code by ID
      operationId: getCodeMaster
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Code detail
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  item:
                    $ref: '#/components/schemas/CodeMasterItem'
        '404':
          description: Code not found
    put:
      tags: [CodeMaster]
      summary: Update code (admin only)
      operationId: updateCodeMaster
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CodeMasterCreateRequest'
      responses:
        '200':
          description: Code updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '404':
          description: Code not found
    delete:
      tags: [CodeMaster]
      summary: Deactivate code (admin only)
      description: Soft-delete (deactivate) a code. The record is preserved but is_active is set to false.
      operationId: deleteCodeMaster
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Code deactivated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '404':
          description: Code not found

  # ============================================
  # Authentication & User Management
  # ============================================
  /api/auth/login:
    post:
      tags: [Auth]
      summary: User login
      operationId: login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
              required: [username, password]
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  token:
                    type: string
                  user:
                    $ref: '#/components/schemas/UserInfo'

  /api/auth/logout:
    post:
      tags: [Auth]
      summary: User logout
      operationId: logout
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Logout successful

  /api/auth/refresh:
    post:
      tags: [Auth]
      summary: Refresh JWT token
      operationId: refreshToken
      security:
        - bearerAuth: []
      responses:
        '200':
          description: New token
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  token:
                    type: string

  /api/auth/me:
    get:
      tags: [Auth]
      summary: Get current user info
      operationId: getCurrentUser
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Current user
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfo'

  /api/auth/users:
    get:
      tags: [Auth]
      summary: List all users (admin only)
      operationId: listUsers
      security:
        - bearerAuth: []
      responses:
        '200':
          description: User list
    post:
      tags: [Auth]
      summary: Create user (admin only)
      operationId: createUser
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string
                role:
                  type: string
                  enum: [admin, user]
              required: [username, password, role]
      responses:
        '201':
          description: User created

  /api/auth/users/{userId}:
    get:
      tags: [Auth]
      summary: Get user by ID (admin only)
      operationId: getUser
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User info
    put:
      tags: [Auth]
      summary: Update user (admin only)
      operationId: updateUser
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
                active:
                  type: boolean
      responses:
        '200':
          description: User updated
    delete:
      tags: [Auth]
      summary: Delete user (admin only)
      operationId: deleteUser
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: User deleted

  /api/auth/users/{userId}/password:
    put:
      tags: [Auth]
      summary: Change user password (admin only)
      operationId: changePassword
      security:
        - bearerAuth: []
      parameters:
        - name: userId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                newPassword:
                  type: string
              required: [newPassword]
      responses:
        '200':
          description: Password changed

  /api/auth/audit-log:
    get:
      tags: [Auth]
      summary: Get auth audit logs (admin only)
      operationId: getAuthAuditLog
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Auth audit log entries

  /api/auth/audit-log/stats:
    get:
      tags: [Auth]
      summary: Get auth audit statistics (admin only)
      operationId: getAuthAuditStats
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Auth audit statistics

  # ============================================
  # API Client Management (v2.21.0)
  # ============================================
  /api/auth/api-clients:
    post:
      tags: [ApiClient]
      summary: Create new API client
      description: |
        Create a new external API client and generate an API key.
        The raw API key is returned **only in this response** — store it securely.
        Subsequent queries will only show the key prefix (`icao_XXXXXXXX_...`).

        **Required role**: admin (JWT Bearer token)
      operationId: createApiClient
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiClientCreateRequest'
            example:
              client_name: "Immigration Agent"
              description: "출입국관리시스템 연동 Agent"
              permissions: ["pa:verify", "cert:read", "ai:read"]
              allowed_ips: ["192.168.1.0/24"]
              rate_limit_per_minute: 120
              rate_limit_per_hour: 2000
              rate_limit_per_day: 20000
      responses:
        '200':
          description: Client created with one-time API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientCreateResponse'
        '400':
          description: Missing required field (client_name)
        '403':
          description: Admin privileges required
        '500':
          description: Internal server error
    get:
      tags: [ApiClient]
      summary: List all API clients
      description: |
        List all registered API clients with pagination.
        Supports filtering by active status.

        **Required role**: admin (JWT Bearer token)
      operationId: listApiClients
      security:
        - bearerAuth: []
      parameters:
        - name: active_only
          in: query
          schema:
            type: string
            enum: ["true", "false"]
          description: Filter active clients only
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Client list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientListResponse'
        '403':
          description: Admin privileges required

  /api/auth/api-clients/{id}:
    get:
      tags: [ApiClient]
      summary: Get API client detail
      operationId: getApiClient
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Client detail
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  client:
                    $ref: '#/components/schemas/ApiClient'
        '403':
          description: Admin privileges required
        '404':
          description: Client not found
    put:
      tags: [ApiClient]
      summary: Update API client
      description: |
        Update client properties (name, description, permissions, rate limits, status).
        Only provided fields are updated; omitted fields remain unchanged.
      operationId: updateApiClient
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiClientUpdateRequest'
      responses:
        '200':
          description: Client updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  client:
                    $ref: '#/components/schemas/ApiClient'
        '400':
          description: Invalid JSON body
        '403':
          description: Admin privileges required
        '404':
          description: Client not found
    delete:
      tags: [ApiClient]
      summary: Deactivate API client
      description: |
        Soft-delete (deactivate) an API client. The client record is preserved
        but `is_active` is set to false. The API key will no longer authenticate.
      operationId: deleteApiClient
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Client deactivated
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
        '403':
          description: Admin privileges required
        '404':
          description: Client not found

  /api/auth/api-clients/{id}/regenerate:
    post:
      tags: [ApiClient]
      summary: Regenerate API key
      description: |
        Generate a new API key for an existing client. The old key is immediately invalidated.
        The new raw API key is returned **only in this response**.
      operationId: regenerateApiKey
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: New API key generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientCreateResponse'
        '403':
          description: Admin privileges required
        '404':
          description: Client not found

  /api/auth/api-clients/{id}/usage:
    get:
      tags: [ApiClient]
      summary: Get API client usage statistics
      description: Returns usage statistics for the specified client over the given time period.
      operationId: getApiClientUsage
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: days
          in: query
          schema:
            type: integer
            default: 7
          description: Number of days to look back (default 7)
      responses:
        '200':
          description: Usage statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiClientUsageResponse'
        '403':
          description: Admin privileges required

  /api/auth/internal/check:
    get:
      tags: [ApiClient]
      summary: Internal auth check (nginx auth_request only)
      description: |
        Internal endpoint used by nginx `auth_request` module to validate API Key
        for PA Service endpoints. Not intended for direct client use.

        **Behavior**:
        - No API Key → 200 OK (public access)
        - Valid API Key → 200 OK + usage tracking + rate limit check
        - Rate limit exceeded → 403 Forbidden + Retry-After header
        - Invalid/unregistered API Key → 200 OK (warn log, fail-open)

        **Response headers** (when authenticated):
        - `X-Client-Id`: Client UUID
        - `X-Client-Name`: Client name
        - `X-Auth-Type`: "api_key"
      operationId: internalAuthCheck
      parameters:
        - name: X-API-Key
          in: header
          schema:
            type: string
          description: API Key for authentication
        - name: X-Original-URI
          in: header
          schema:
            type: string
          description: Original request URI (set by nginx)
        - name: X-Original-Method
          in: header
          schema:
            type: string
          description: Original HTTP method (set by nginx)
        - name: X-Real-IP
          in: header
          schema:
            type: string
          description: Client IP address (set by nginx)
      responses:
        '200':
          description: Auth check passed
        '403':
          description: Rate limit exceeded

  # ============================================
  # Operation Audit
  # ============================================
  /api/audit/operations:
    get:
      tags: [Audit]
      summary: Get operation audit logs
      operationId: getOperationAuditLogs
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: Operation audit log entries

  /api/audit/operations/stats:
    get:
      tags: [Audit]
      summary: Get operation audit statistics
      operationId: getOperationAuditStats
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Operation statistics

  # ============================================
  # ICAO Version Monitoring
  # ============================================
  /api/icao/check-updates:
    get:
      tags: [ICAO]
      summary: Check for ICAO PKD updates
      description: Trigger a check for new ICAO PKD versions from the ICAO portal.
      operationId: checkIcaoUpdates
      responses:
        '200':
          description: Check completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  new_version_count:
                    type: integer
                  new_versions:
                    type: array
                    items:
                      $ref: '#/components/schemas/IcaoVersion'

  /api/icao/status:
    get:
      tags: [ICAO]
      summary: Get version comparison status
      description: Compare detected ICAO PKD versions with uploaded versions.
      operationId: getIcaoStatus
      responses:
        '200':
          description: Version comparison

  /api/icao/latest:
    get:
      tags: [ICAO]
      summary: Get latest detected versions
      operationId: getIcaoLatest
      responses:
        '200':
          description: Latest versions

  /api/icao/history:
    get:
      tags: [ICAO]
      summary: Get version detection history
      operationId: getIcaoHistory
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Version history

  # ============================================
  # Progress Tracking (SSE)
  # ============================================
  /api/progress/stream/{uploadId}:
    get:
      tags: [Progress]
      summary: SSE progress stream
      description: Server-Sent Events stream for upload progress.
      operationId: getProgressStream
      parameters:
        - name: uploadId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: SSE stream
          content:
            text/event-stream:
              schema:
                type: string

  /api/progress/status/{uploadId}:
    get:
      tags: [Progress]
      summary: Get progress status
      operationId: getProgressStatus
      parameters:
        - name: uploadId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Progress status

  # ============================================
  # Validation
  # ============================================
  /api/validation/revalidate:
    post:
      tags: [Certificates]
      summary: Re-validate DSC trust chains
      operationId: revalidateCertificates
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Revalidation started

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token from /api/auth/login
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: |
        API Key for external client authentication.
        Format: `icao_{prefix}_{random}` (46 characters).
        Issued via POST /api/auth/api-clients (admin only).
        Include in requests as `X-API-Key: icao_XXXXXXXX_YYYYYYYYYYYYYYYYYYYYYYYYYYYYYY`

  schemas:
    # ============================================
    # API Client Schemas (v2.21.0)
    # ============================================
    ApiClient:
      type: object
      properties:
        id:
          type: string
          format: uuid
        client_name:
          type: string
          description: Human-readable client name
        api_key_prefix:
          type: string
          description: First 8 characters of the API key (for identification)
          example: "icao_NggoCnqh"
        description:
          type: string
        permissions:
          type: array
          items:
            type: string
          description: "Granted permissions (e.g., cert:read, pa:verify, ai:read)"
          example: ["pa:verify", "cert:read", "ai:read"]
        allowed_endpoints:
          type: array
          items:
            type: string
          description: Allowed endpoint patterns (empty = all endpoints)
        allowed_ips:
          type: array
          items:
            type: string
          description: Allowed IP addresses/CIDRs (empty = all IPs)
          example: ["192.168.1.0/24"]
        rate_limit_per_minute:
          type: integer
          default: 60
        rate_limit_per_hour:
          type: integer
          default: 1000
        rate_limit_per_day:
          type: integer
          default: 10000
        is_active:
          type: boolean
        expires_at:
          type: string
          format: date-time
          nullable: true
          description: Expiration timestamp (null = no expiration)
        last_used_at:
          type: string
          format: date-time
          nullable: true
        total_requests:
          type: integer
          format: int64
        created_by:
          type: string
          format: uuid
          description: Admin user ID who created this client
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ApiClientCreateRequest:
      type: object
      required: [client_name]
      properties:
        client_name:
          type: string
          description: Human-readable client name (required)
        description:
          type: string
        permissions:
          type: array
          items:
            type: string
            enum: [cert:read, cert:export, pa:verify, pa:read, upload:read, upload:write, report:read, ai:read, sync:read, icao:read]
        allowed_endpoints:
          type: array
          items:
            type: string
        allowed_ips:
          type: array
          items:
            type: string
        rate_limit_per_minute:
          type: integer
          default: 60
        rate_limit_per_hour:
          type: integer
          default: 1000
        rate_limit_per_day:
          type: integer
          default: 10000
        expires_at:
          type: string
          format: date-time
          nullable: true

    ApiClientUpdateRequest:
      type: object
      properties:
        client_name:
          type: string
        description:
          type: string
        is_active:
          type: boolean
        permissions:
          type: array
          items:
            type: string
        allowed_endpoints:
          type: array
          items:
            type: string
        allowed_ips:
          type: array
          items:
            type: string
        rate_limit_per_minute:
          type: integer
        rate_limit_per_hour:
          type: integer
        rate_limit_per_day:
          type: integer

    ApiClientCreateResponse:
      type: object
      properties:
        success:
          type: boolean
        warning:
          type: string
          description: "Warning that the API key is only shown once"
          example: "API Key is only shown in this response. Store it securely."
        client:
          allOf:
            - $ref: '#/components/schemas/ApiClient'
            - type: object
              properties:
                api_key:
                  type: string
                  description: "Raw API key (shown ONLY in create/regenerate response)"
                  example: "icao_NggoCnqh_a1b2c3d4e5f6g7h8i9j0k1l2m3n4o5p6"

    ApiClientListResponse:
      type: object
      properties:
        success:
          type: boolean
        total:
          type: integer
        clients:
          type: array
          items:
            $ref: '#/components/schemas/ApiClient'

    ApiClientUsageResponse:
      type: object
      properties:
        success:
          type: boolean
        client_id:
          type: string
          format: uuid
        days:
          type: integer
        usage:
          type: object
          properties:
            total_requests:
              type: integer
            top_endpoints:
              type: array
              items:
                type: object
                properties:
                  endpoint:
                    type: string
                  count:
                    type: integer

    # ============================================
    # Existing Schemas
    # ============================================
    DscNcCertificate:
      type: object
      properties:
        fingerprint:
          type: string
        countryCode:
          type: string
        subjectDn:
          type: string
        issuerDn:
          type: string
        serialNumber:
          type: string
        notBefore:
          type: string
          format: date-time
        notAfter:
          type: string
          format: date-time
        validity:
          type: string
          enum: [VALID, EXPIRED, NOT_YET_VALID, UNKNOWN]
        signatureAlgorithm:
          type: string
        publicKeyAlgorithm:
          type: string
        publicKeySize:
          type: integer
        pkdConformanceCode:
          type: string
          description: "ICAO PKD non-conformance code"
        pkdConformanceText:
          type: string
          description: "ICAO PKD non-conformance description"
        pkdVersion:
          type: string

    HealthResponse:
      type: object
      properties:
        status:
          type: string
          example: UP
        service:
          type: string
        version:
          type: string
        timestamp:
          type: string

    DatabaseHealthResponse:
      type: object
      properties:
        status:
          type: string
          enum: [connected, disconnected]
        host:
          type: string
        port:
          type: integer
        database:
          type: string
        responseTime:
          type: integer

    LdapHealthResponse:
      type: object
      properties:
        status:
          type: string
          enum: [connected, disconnected]
        host:
          type: string
        port:
          type: integer
        baseDn:
          type: string

    UploadResponse:
      type: object
      properties:
        success:
          type: boolean
        uploadId:
          type: string
          format: uuid
        filename:
          type: string
        message:
          type: string
        certificatesProcessed:
          type: integer

    DuplicateFileResponse:
      type: object
      properties:
        success:
          type: boolean
          default: false
        error:
          type: string
          example: DUPLICATE_FILE
        existingUpload:
          type: object
          properties:
            uploadId:
              type: string
              format: uuid
            filename:
              type: string
            uploadTimestamp:
              type: string
            status:
              type: string

    CertificatePreview:
      type: object
      properties:
        subject:
          type: string
        issuer:
          type: string
        serialNumber:
          type: string
        notBefore:
          type: string
        notAfter:
          type: string
        certificateType:
          type: string
          enum: [CSCA, DSC, MLSC, CRL]
        countryCode:
          type: string
        fingerprintSha256:
          type: string
        doc9303Checklist:
          $ref: '#/components/schemas/Doc9303ChecklistResult'

    UploadStatisticsResponse:
      type: object
      properties:
        totalCertificates:
          type: integer
        csca:
          type: integer
        dsc:
          type: integer
        dscNc:
          type: integer
        crl:
          type: integer
        masterList:
          type: integer
        trustChainValid:
          type: integer
        trustChainInvalid:
          type: integer
        bySource:
          type: object
          description: Certificate count by source_type
          additionalProperties:
            type: integer
          example:
            LDIF_PARSED: 30675
            ML_PARSED: 536
            PA_EXTRACTED: 1

    UploadHistoryResponse:
      type: object
      properties:
        total:
          type: integer
        items:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              filename:
                type: string
              fileType:
                type: string
              uploadDate:
                type: string
              status:
                type: string
              certificatesProcessed:
                type: integer

    CertificateSearchResponse:
      type: object
      properties:
        success:
          type: boolean
        country:
          type: string
        certType:
          type: string
        total:
          type: integer
        certificates:
          type: array
          items:
            type: object
            properties:
              dn:
                type: string
              cn:
                type: string
              serialNumber:
                type: string
              subjectDn:
                type: string
              issuerDn:
                type: string
              countryCode:
                type: string
              certificateType:
                type: string
              sourceType:
                type: string
              notBefore:
                type: string
              notAfter:
                type: string

    CountriesResponse:
      type: object
      properties:
        success:
          type: boolean
        total:
          type: integer
        countries:
          type: array
          items:
            type: string
          example: ["KR", "US", "JP"]

    UserInfo:
      type: object
      properties:
        id:
          type: string
        username:
          type: string
        role:
          type: string
          enum: [admin, user]
        active:
          type: boolean

    PALookupResponse:
      type: object
      properties:
        success:
          type: boolean
        validation:
          type: object
          nullable: true
          description: Validation result (null if certificate not found)
          properties:
            id:
              type: string
              format: uuid
              description: Validation result ID
            certificateId:
              type: string
              description: Certificate record ID
            uploadId:
              type: string
              format: uuid
            certificateType:
              type: string
              enum: [DSC, DSC_NC]
            countryCode:
              type: string
              description: ISO 3166-1 alpha-2 country code
            subjectDn:
              type: string
              description: DSC Subject DN
            issuerDn:
              type: string
              description: DSC Issuer DN
            serialNumber:
              type: string
            validationStatus:
              type: string
              enum: [VALID, EXPIRED_VALID, INVALID, PENDING, ERROR]
            trustChainValid:
              type: boolean
            trustChainMessage:
              type: string
            trustChainPath:
              type: string
              description: "Human-readable path (e.g., 'DSC → CSCA')"
            cscaFound:
              type: boolean
            cscaSubjectDn:
              type: string
            signatureValid:
              type: boolean
            signatureAlgorithm:
              type: string
            validityPeriodValid:
              type: boolean
            notBefore:
              type: string
            notAfter:
              type: string
            revocationStatus:
              type: string
            crlChecked:
              type: boolean
            fingerprintSha256:
              type: string
              description: DSC SHA-256 fingerprint (hex, 64 chars)
            validatedAt:
              type: string
              format: date-time
            pkdConformanceCode:
              type: string
              description: "ICAO PKD non-conformance code (DSC_NC only, e.g., 'NC003')"
            pkdConformanceText:
              type: string
              description: "ICAO PKD non-conformance description (DSC_NC only)"
            pkdVersion:
              type: string
              description: "ICAO PKD version when non-conformance was classified (DSC_NC only)"
      example:
        success: true
        validation:
          certificateType: "DSC"
          countryCode: "KR"
          subjectDn: "/C=KR/O=Government of Korea/CN=Document Signer 1234"
          validationStatus: "VALID"
          trustChainValid: true
          trustChainPath: "DSC → CSCA"
          cscaFound: true
          signatureValid: true
          crlChecked: true
          revocationStatus: "not_revoked"
          fingerprintSha256: "a1b2c3d4e5f6..."

    CrlReportResponse:
      type: object
      properties:
        success:
          type: boolean
        summary:
          type: object
          properties:
            totalCrls:
              type: integer
            countryCount:
              type: integer
            validCount:
              type: integer
            expiredCount:
              type: integer
            totalRevokedCertificates:
              type: integer
        byCountry:
          type: array
          items:
            type: object
            properties:
              countryCode:
                type: string
              crlCount:
                type: integer
              revokedCount:
                type: integer
        bySignatureAlgorithm:
          type: array
          items:
            type: object
            properties:
              algorithm:
                type: string
              count:
                type: integer
        byRevocationReason:
          type: array
          items:
            type: object
            properties:
              reason:
                type: string
                description: RFC 5280 CRLReason code
              count:
                type: integer
        crls:
          type: object
          properties:
            total:
              type: integer
            page:
              type: integer
            size:
              type: integer
            items:
              type: array
              items:
                $ref: '#/components/schemas/CrlItem'

    CrlItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
        countryCode:
          type: string
        issuerDn:
          type: string
        thisUpdate:
          type: string
        nextUpdate:
          type: string
        revokedCount:
          type: integer
        signatureAlgorithm:
          type: string
        fingerprint:
          type: string
        storedInLdap:
          type: boolean
        createdAt:
          type: string

    CrlDetailResponse:
      type: object
      properties:
        success:
          type: boolean
        crl:
          type: object
          properties:
            id:
              type: string
              format: uuid
            countryCode:
              type: string
            issuerDn:
              type: string
            thisUpdate:
              type: string
            nextUpdate:
              type: string
            crlNumber:
              type: string
            revokedCount:
              type: integer
            signatureAlgorithm:
              type: string
            fingerprint:
              type: string
            storedInLdap:
              type: boolean
        revokedCertificates:
          type: array
          items:
            type: object
            properties:
              serialNumber:
                type: string
              revocationDate:
                type: string
              reason:
                type: string
                description: RFC 5280 CRLReason (e.g., keyCompromise, cessationOfOperation)

    Doc9303ChecklistResponse:
      type: object
      properties:
        success:
          type: boolean
        fingerprint:
          type: string
          description: SHA-256 fingerprint of the certificate
        certificateType:
          type: string
          enum: [CSCA, DSC, MLSC]
        totalChecks:
          type: integer
          description: Total number of checks performed
        passCount:
          type: integer
        failCount:
          type: integer
        warningCount:
          type: integer
        naCount:
          type: integer
          description: Not applicable count (checks skipped for this cert type)
        overallStatus:
          type: string
          enum: [CONFORMANT, NON_CONFORMANT, WARNING]
        items:
          type: array
          items:
            $ref: '#/components/schemas/Doc9303CheckItem'
      example:
        success: true
        fingerprint: "920693cd1283824ffdf48a3579fc35528122f3de46bab2ecdaef402db6d92e4e"
        certificateType: "CSCA"
        totalChecks: 25
        passCount: 24
        failCount: 0
        warningCount: 0
        naCount: 1
        overallStatus: "CONFORMANT"

    Doc9303ChecklistResult:
      type: object
      description: Doc 9303 checklist result (embedded in certificate preview response)
      properties:
        certificateType:
          type: string
          enum: [CSCA, DSC, MLSC]
        totalChecks:
          type: integer
        passCount:
          type: integer
        failCount:
          type: integer
        warningCount:
          type: integer
        naCount:
          type: integer
        overallStatus:
          type: string
          enum: [CONFORMANT, NON_CONFORMANT, WARNING]
        items:
          type: array
          items:
            $ref: '#/components/schemas/Doc9303CheckItem'

    Doc9303CheckItem:
      type: object
      properties:
        id:
          type: string
          description: "Check identifier (e.g., version_v3, key_usage_critical)"
        category:
          type: string
          description: "Category name (기본, 서명, 발급자, 주체, Key Usage, 기본 제약, 확장, 키 크기)"
        label:
          type: string
          description: Human-readable check name (Korean)
        status:
          type: string
          enum: [PASS, FAIL, WARNING, NA]
        message:
          type: string
          description: "Result detail (e.g., actual value found, failure reason)"
        requirement:
          type: string
          description: Doc 9303 requirement description (Korean)
      example:
        id: "version_v3"
        category: "기본"
        label: "버전 V3"
        status: "PASS"
        message: "V3"
        requirement: "인증서 버전은 반드시 V3이어야 합니다"

    # ============================================
    # Code Master Schemas (v2.16.0)
    # ============================================
    CodeMasterItem:
      type: object
      properties:
        id:
          type: string
          format: uuid
        category:
          type: string
          description: Code category (e.g., VALIDATION_STATUS, CERTIFICATE_TYPE)
        code:
          type: string
          description: Code value (e.g., VALID, CSCA, PENDING)
        nameKo:
          type: string
          description: Korean display name
        nameEn:
          type: string
          nullable: true
          description: English display name
        description:
          type: string
          nullable: true
        severity:
          type: string
          nullable: true
          description: Severity level for status codes
        sortOrder:
          type: integer
          description: Display order within category
        isActive:
          type: boolean
        metadata:
          type: object
          nullable: true
          description: Additional JSON metadata
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CodeMasterCreateRequest:
      type: object
      required: [category, code, nameKo]
      properties:
        category:
          type: string
        code:
          type: string
        nameKo:
          type: string
        nameEn:
          type: string
        description:
          type: string
        severity:
          type: string
        sortOrder:
          type: integer
        isActive:
          type: boolean
          default: true
        metadata:
          type: string
          description: JSON string for additional metadata

    CodeMasterListResponse:
      type: object
      properties:
        success:
          type: boolean
        total:
          type: integer
        page:
          type: integer
        size:
          type: integer
        items:
          type: array
          items:
            $ref: '#/components/schemas/CodeMasterItem'

    # ============================================
    # Link Certificate Schemas (v2.15.1)
    # ============================================
    LinkCertValidationResponse:
      type: object
      properties:
        success:
          type: boolean
        trustChainValid:
          type: boolean
        validationMessage:
          type: string
        signatures:
          type: object
          properties:
            oldCscaSignatureValid:
              type: boolean
            oldCscaSubjectDn:
              type: string
            oldCscaFingerprint:
              type: string
            newCscaSignatureValid:
              type: boolean
            newCscaSubjectDn:
              type: string
            newCscaFingerprint:
              type: string
        properties:
          type: object
          properties:
            validityPeriodValid:
              type: boolean
            notBefore:
              type: string
              format: date-time
            notAfter:
              type: string
              format: date-time
            extensionsValid:
              type: boolean
        extensions:
          type: object
          properties:
            basicConstraintsCa:
              type: boolean
            basicConstraintsPathlen:
              type: integer
            keyUsage:
              type: string
            extendedKeyUsage:
              type: string
        revocation:
          type: object
          properties:
            status:
              type: string
              enum: [VALID, EXPIRED, REVOKED, CRL_EXPIRED, UNKNOWN]
            message:
              type: string
        validationDurationMs:
          type: integer

    LinkCertSearchResponse:
      type: object
      properties:
        success:
          type: boolean
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
        certificates:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
              subjectDn:
                type: string
              issuerDn:
                type: string
              serialNumber:
                type: string
              fingerprint:
                type: string
                description: SHA-256 hex fingerprint
              oldCscaSubjectDn:
                type: string
              newCscaSubjectDn:
                type: string
              trustChainValid:
                type: boolean
              createdAt:
                type: string
                format: date-time
              countryCode:
                type: string

    LinkCertDetailResponse:
      type: object
      properties:
        success:
          type: boolean
        certificate:
          type: object
          properties:
            id:
              type: string
              format: uuid
            subjectDn:
              type: string
            issuerDn:
              type: string
            serialNumber:
              type: string
            fingerprint:
              type: string
            signatures:
              type: object
              properties:
                oldCscaSubjectDn:
                  type: string
                oldCscaFingerprint:
                  type: string
                newCscaSubjectDn:
                  type: string
                newCscaFingerprint:
                  type: string
                trustChainValid:
                  type: boolean
                oldCscaSignatureValid:
                  type: boolean
                newCscaSignatureValid:
                  type: boolean
            properties:
              type: object
              properties:
                validityPeriodValid:
                  type: boolean
                notBefore:
                  type: string
                notAfter:
                  type: string
                extensionsValid:
                  type: boolean
            extensions:
              type: object
              properties:
                basicConstraintsCa:
                  type: boolean
                basicConstraintsPathlen:
                  type: integer
                keyUsage:
                  type: string
                extendedKeyUsage:
                  type: string
            revocation:
              type: object
              properties:
                status:
                  type: string
                message:
                  type: string
            ldapDn:
              type: string
            storedInLdap:
              type: boolean
            createdAt:
              type: string
              format: date-time
            countryCode:
              type: string

    # ============================================
    # Other Schemas
    # ============================================
    IcaoVersion:
      type: object
      properties:
        id:
          type: integer
        collection_type:
          type: string
          enum: [DSC_CRL, DSC_NC, MASTERLIST]
        file_name:
          type: string
        file_version:
          type: integer
        status:
          type: string
          enum: [DETECTED, NOTIFIED, DOWNLOADED, IMPORTED, FAILED]
        detected_at:
          type: string
          format: date-time
